html, body {
	/* position: relative; */
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	/* padding: 8px; */
	/* box-sizing: border-box; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

div.pop-up-content-info {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 4px;
}

div.pop-up-content-info-title {
	color:#4285F4;
}