html, body {
	width: 100%;
	height: 100%;
}

#page {
	height: 95%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	font-family: 'Urbanist', sans-serif, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

div.pop-up-content-info {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 4px;
}

div, p, a {
	font-family: 'Urbanist', sans-serif, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

div.pop-up-content-info-title {
	color:#4285F4;
}

button {
	cursor: pointer;
}

p {
	margin: 0;
}